/* src/pages/HomePage.css */
.home-page{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.home-fixed {
    position: fixed;
    overflow: hidden;
    top: 0%;
    width: 100vw;/* adjust as needed */
    margin: 0 auto;
    z-index: 0;
}
  
.background {
    width: 100vw;
    display: block;
}

/* ----------------- GALLERY CONTENT ----------------- */

.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3; /* starts below the fixed home images */
  background: white;
  transition: opacity 1s ease, transform 0.5s ease;
  /* Default state (when galleryPhase === "visible") */
  position: relative;
  margin-top: calc(100vw * 5 / 9);
  /* You can add padding, margins, etc., as needed */
}


.react-photo-album--rows{ 
  max-width: 1440px;
  width: 100%;
  margin: 100px auto;
}

.react-photo-album--button {
  margin: 0.1vw;
  border-radius: 0.14253vw;
  /* Optionally adjust padding if needed */
  padding: 0.0rem; /* or whatever suits your design */
  overflow: hidden;
}

.react-photo-album--button img{
  transition: 0.5s;
  scale: 1;
}

.react-photo-album--button img:hover{
  scale: 1.04;
}

/* ----------------- Gallery animation section ----------------- */

.gallery.disintegrate {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    /* Optionally, set 'top' to the current position or leave it as is */
    opacity: 0;
}

.gallery.reset {
    position: relative;
    top: calc(100vw * 5 / 9); /* This moves it to its starting position */
    opacity: 0;
}

.collapsed {
    /* Adjust this max-height based on your targetRowHeight and spacing.
       For example: 4 rows of 200px plus 3 gaps of 5px = 4*200 + 3*5 = 815px */
    max-height: 815px;
    overflow: hidden;
    /* transition: max-height 0.5s ease; */
  }
  
  .expanded  {
    max-height: none;
    overflow: hidden;
    /* transition: max-height 0.5s ease; */
  }
  
  /* Style for the toggle button container (optional) */
  .gallery-toggle {
    z-index: 3;
    text-align: center;
    height: 200px;
    background: white;
  }
  
  .gallery-toggle button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 4;
  }

  .yarl__container {
    background-color: rgba(0, 0, 0, 0.92) !important;
  }
  

.nav-bar {
    position: fixed;
    top: 0;
    left: 40%;
    width: 20%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.699);
    padding: 0.5rem;
    text-align: center;
  }
.nav-bar button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .yarl__price {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 0.5em;
    font-size: 1em;
    color: #fff;
    font-size: 1rem;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.8));
    /* additional styling */
  }
  /* Position the easel; adjust coordinates as needed */
.easel {
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    width: 27%; /* adjust size as needed */
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 1;
    overflow: hidden;
    filter: drop-shadow(0.1vw 0.1vw 0 white)
            drop-shadow(-0.1vw 0.1vw 0 white)
            drop-shadow(0.1vw -0.1vw 0 white)
            drop-shadow(-0.1vw -0.1vw 0 white);
}
  /* Position the chair; clicking on this navigates to login/register */
.chair {
    position: absolute;
    top: 46%;
    left: 67%;
    width: 20.5%; /* adjust size as needed */
    transition: transform 0.2s, box-shadow 0.5s;
    z-index: 1;
    overflow: hidden;   
    filter: drop-shadow(0.02vw 0.02vw 0 white)
            drop-shadow(-0.02vw 0.02vw 0 white)
            drop-shadow(0.02vw -0.02vw 0 white)
            drop-shadow(-0.02vw -0.02vw 0 white);
}
.picture {
    position: absolute;
    top: 26%;
    left: 44.3%;
    width: 8.7%; /* adjust size as needed */
    transition: transform 0.2s, box-shadow 0.5s;
    z-index: 2;
    overflow: hidden;
    filter: drop-shadow(0.02vw 0.02vw 0 white)
            drop-shadow(-0.02vw 0.02vw 0 white)
            drop-shadow(0.02vw -0.02vw 0 white)
            drop-shadow(-0.02vw -0.02vw 0 white);
}

.things {
    position: absolute;
    top: 33.7%;
    left: 30.7%;
    width: 17.5%; /* adjust size as needed */
    transition: transform 0.2s, box-shadow 0.5s;
    z-index: 1;
    overflow: hidden;
    filter: drop-shadow(0.02vw 0.02vw 0 white)
            drop-shadow(-0.02vw 0.02vw 0 white)
            drop-shadow(0.02vw -0.02vw 0 white)
            drop-shadow(-0.02vw -0.02vw 0 white);
}
.things:hover {
    transform: scale(1.05);
    filter: drop-shadow(0.01vw 0.01vw 0 white)
            drop-shadow(-0.01vw 0.01vw 0 white)
            drop-shadow(0.01vw -0.01vw 0 white)
            drop-shadow(-0.01vw -0.01vw 0 white);
            cursor: pointer;
}
  

.picture:hover {
    transform: scale(1.05);
    filter: drop-shadow(0.02vw 0.02vw 0 white)
            drop-shadow(-0.02vw 0.02vw 0 white)
            drop-shadow(0.02vw -0.02vw 0 white)
            drop-shadow(-0.02vw -0.02vw 0 white);
            cursor: pointer;
}
.chair:hover {
    transform: scale(1.05);
    filter: drop-shadow(0.02vw 0.02vw 0 white)
            drop-shadow(-0.02vw 0.02vw 0 white)
            drop-shadow(0.02vw -0.02vw 0 white)
            drop-shadow(-0.02vw -0.02vw 0 #ffffff);
            cursor: pointer;
}

.easel:hover{
    transform: scale(1.05);
    filter: drop-shadow(0.1vw 0.1vw 0 white)
            drop-shadow(-0.1vw 0.1vw 0 white)
            drop-shadow(0.1vw -0.1vw 0 white)
            drop-shadow(-0.1vw -0.1vw 0 white);
    cursor: pointer;
}


.search-anim{
    position: absolute;
    top: 44%;
    left: 33%;
    width: 10vw;
    height: 8vw;
    z-index: 2;
    pointer-events: none;
}

.galerija-anim{
    position: absolute;
    top: 22%;
    left: 8%;
    width: 13vw;
    height: 8vw;
    z-index: 2;
    pointer-events: none;
}

.onama-anim{
    position: absolute;
    top: 12%;
    left: 43%;
    width: 11vw;
    height: 9vw;
    z-index: 2;
    pointer-events: none;
}

.login-anim{
    position: absolute;
    top: 57%;
    left: 70%;
    width: 11vw;
    height: 9vw;
    z-index: 2;
    pointer-events: none;
}

.galerija-anim path{
    stroke-dashoffset: var(--dash-length);
    fill: transparent;
  }
@-webkit-keyframes svg-text-anim {
    0%{
        stroke-dashoffset: var(--dash-length);
        fill: transparent;
    }
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    60% {
        stroke-dashoffset: 0;
        fill: #000000;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #000000;
    }
}

@-webkit-keyframes svg-text-anim-reverse {
    0% {
      stroke-dashoffset: 0;
      fill: #000000;
    }
    40% {
        stroke-dashoffset: var(--dash-length);
        fill: transparent;
    }
    60% {
        stroke-dashoffset: var(--dash-length);
    }    
    100% {
      stroke-dashoffset: var(--dash-length);
      fill: transparent;
    }
  }

@keyframes svg-text-anim-reverse {
  0% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
  40% {
    stroke-dashoffset: var(--dash-length);
    fill: transparent;
  }
  60% {
    stroke-dashoffset: var(--dash-length);
    fill: transparent;
  }
  100% {
    stroke-dashoffset: var(--dash-length);
    fill: transparent;
  }
}
      
@keyframes svg-text-anim {
    0%{
        stroke-dashoffset: var(--dash-length);
        fill: transparent;
    }
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    60% {
        stroke-dashoffset: 0;
        fill: #000000;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #000000;
    }

}

.animate {
    animation: svg-text-anim 2s ease forwards;
}

.animate-reverse {
    animation: svg-text-anim-reverse 2s ease forwards;
}
 
  