/* Container for the entire profile page */
.profile-container {
  max-width: 1440px;
  width: 1440px;
  text-align: center;
}
  
/* Profile header section */
.profile-header {
  margin-bottom: 2rem;
}
  
/* Profile picture styling */
.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ccc;
}

/* Profile name styling */
.profile-name {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #333;
}

/* Action buttons */
.profile-actions {
  margin-bottom: 2rem;
}

.profile-actions button {
  margin: 0 0.5rem;
}


  
.profile-gallery-item img {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.414);
}
  
.profile-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
  

/* ------- TEME KORISNIKA ------- */

.theme-card {
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  border: 2px solid transparent;
}

.theme-card.default { 
  background-color: white; 
  color: black; 
}

.theme-card.dark { 
  background-color: #1f1f1f; 
  color: white; 
}
.theme-card.pastel { 
  background-color: #fdf6f0; 
  color: #403b3b; 
}

.profile-container.dark { 
  background-color: #1f1f1f; 
  color: white; 
}

.profile-container.pastel { 
  background-color: #fdf6f0; 
  color: #403b3b; 
}